
.estilo0{
    color:aliceblue;
    text-align: center;
    background-color:antiquewhite;
}   
.estilo1 {
    color: greenyellow;
    background-color: black;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.estilo2 {
    color:azure;
    background-color: blue;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.estilo3{
    color:darkcyan;
    background-color: antiquewhite;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.estilo4{
    color:antiquewhite;
    background-color: aqua;
    font-size: medium;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.estilo5{
    color: aquamarine;
    background-color:azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
    text-align: end;
    
}
.estilo6{
    color:beige ;
    background-color:violet ;
    font-style:normal ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size:x-large ;
    text-align:initial ;
}
.estilo7{
    color:black ;
    background-color:whitesmoke ;
    font-style:oblique ;
    font-family:Arial, Helvetica, sans-serif ;
    font-size:smaller ;
    text-align:center ;
}
.estilo8{
    color:blueviolet ;
    background-color:brown ;
    font-style:initial ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size:smaller ;
    text-align: end;
}
.estilo9{
    color:chartreuse ;
    background-color:springgreen;
    font-style:normal ;
    font-family:serif ;
    font-size:x-small ;
    text-align:right ;
}

.estilo10{
color:brown ;
background-color:blueviolet;
font-style:normal ;
font-family:Verdana, Geneva, Tahoma, sans-serif ;
font-size: 10px;
text-align:center ;
}

.estilo11{
    color:cadetblue ;
    background-color:burlywood ;
    font-style:oblique;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large ;
    text-align:unset;
}
.estilo12{
    color: yellow ;
    background-color:chocolate ;
    font-style:inherit ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px ;
    text-align:right ;
}
.estilo13{

    color:  goldenrod ;
    background-color:forestgreen;
    font-style:initial ;
    font-family:monospace ;
    font-size:larger ;
    text-align:right;
}
.estilo14{
    color: blueviolet ;
    background-color:darkolivegreen;
    font-style:oblique;
    font-family:sans-serif ;
    font-size:60px;
    text-align:left;
}
.estilo15{ 


    color:darkblue ;
    background-color:darkolivegreen;
    font-style:oblique;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size:40px ;
    text-align:center;
}
.estilo16{
    color: blueviolet ;
    background-color:darkolivegreen;
    font-style:oblique;
    font-family:sans-serif ;
    font-size:xx-large ;
    text-align:left;
}
.estilo17{
    color: darkcyan;
    background-color:fuchsia ;
    font-style:inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    text-align:end;
}
.estilo18{
    color:mintcream;
    background-color:brown;
    font-style:oblique ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:x-large ;
    text-align:initial;
}
.estilo19{
    color:violet;
    background-color:turquoise ;
    font-style:initial;
    font-family:unset ;
    font-size:small;
    text-align:inherit ;
}
.estilo20{
    color:goldenrod;
    background-color:mediumturquoise ;
    font-style:inherit ;
    font-family:sans-serif ;
    font-size:87px ;
    text-align:end;
}
.estil021{
    color:rgb(red, green, blue);
    background-color:palevioletred ;
    font-style:normal ;
    font-family:monospace;
    font-size:90px;
    text-align:start;
}
.estil022{
    color:cornflowerblue;
    background-color:black ;
    font-style:italic ;
    font-family:fantasy;
    font-size:45cm;
    text-align:start ;
}
.estilo23{
    color:indianred;
    background-color:lightskyblue ;
    font-style:initial;
    font-family:'Times New Roman', Times, serif;
    font-size:100px ;
    text-align:right;
}
.estilo24{
    color:blue;
    background-color:blueviolet ;
    font-style:initial ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size:100px ;
    text-align:center;
}

